<div class="content">
<div class="content-left">
<div class="row1">
<h1 class="title"> <span>Services</span></h1>
<p>
  <h2>Stock Cash Intraday</h2>	
	<div>In Stock Cash Tips we provide you Cash Market Calls. This service is basically for NSE, BSE Cash Traders.</br>
We render you enough time to enter in our calls so you can maximize your profit.</br>
We provide you Intraday Calls (maximum 3-4 calls)</br>
Proper follow-ups and news information by our Business Analyst</br>
Market overview</br>
24/7 customer support</br>
We provide you call through SMS or company messenger.</div></p>
<hr style="border-top: dotted 1px;" />
<p>
  <h2>Stock Future Intraday</h2>	
	<div>In Stock Future Tips we provide you Stock Future Market Calls. This service is basically for NSE Future
Traders. We render you enough time to enter in our calls so you can maximize your profit.</br>
We provide you Intraday Calls (maximum 4 calls)</br>
Proper follow-ups and news information</br>
Market overview</br>
Daily and weekly newsletters</br>
24/7 customer support</br>
We provide you call through SMS or company messenger.</div></p>
<hr style="border-top: dotted 1px;" />
<p>
  <h2>Intraday MCX</h2>	
	<div>In Commodity Tips we provide you PRECIOUS METALS (BULLION), BASE METALS AND ENERGY MARKET Calls. This service is basically for Commodity MCX Traders.
Intraday Tips in MCX market</br>
We provide you Intraday Calls (maximum3- 4 calls).</br>
Proper follow-ups and news information by our Business analyst.</br>
Market overview</br>
24/7 customer support</br>
We provide you call through SMS or company messenger</div></p>
<hr style="border-top: dotted 1px;" />
<p>
  <h2>Premium Pack</h2>	
	<div>Stock Mirror provides absolute guidance to the investors how to trade in the Commodity market and provides solutions for a trading platform. We provide tips on the basis of Our Highly Experienced and qualitative research of the market trends, our predictions are highly accurate and deemed reliable by investors and traders. We provide less but very effective calls with full accuracy to increase the profit of our client. In this pack the calls are given with big targets and are sure to return huge benefits for the investments.</div>
	<h4>Our Services Features -</h4>
	<ul>
	  <li> In this segment we cover Precious Metals (Gold, Silver), Base Metals (Copper, Nickel, Zinc, Lead, and Aluminum) and Energy (Crude Oil & Natural Gas).</li>
	  <li>We give 2-3 recommendation daily with the accuracy of above 90 %.</li>
	  <li>Medium of the calls would be SMS.</li>
      <li>Premium services also include Tips via Personal Phone Calls</li>
      <li>There would be two targets & a stop loss that you have to follow.</li>
      <li>Minimum Returns on investment depends on the commodity.</li>
      <li>Timely Entry & Exit Updates</li>	 
	</ul>
</p>
<hr style="border-top: dotted 1px;" />
<p>
  <h2>Bullion Pack</h2>	
	<div>Stock Mirror provides one of the flagship products is the Bullion Metal Tips. We research for thousands of hour to make sure that our clients can earn the maximum profits in the Bullion Markets. The in-depth analysis of financial markets and global commodity markets help us to give you the best of the recommendations of Bullion Metals. We bring you an exclusive service for trading in Gold and Silver commodities. The Bullion Tips Pack includes highly accurate Gold Silver tips with a consistent accuracy of 85-90 % personalized follow ups and real time assistance during the trade.</div>
	<h4>Our Services Features -</h4>
	<ul>
	  <li> In this segment we cover Precious Metals Gold, Silver.</li>
	  <li>We give 1-2 recommendation daily with the accuracy of 85-90 %.</li>
	  <li>There would be three targets & a stop loss that you have to follow.</li>
      <li>Medium of the calls would be SMS.</li>
      <li>Minimum Returns on investment depends on the commodity.</li>
      <li>Timely Entry & Exit Updates.</li>
    </ul>
</p>

<hr style="border-top: dotted 1px;" />
<p>
  <h2>Energy Pack</h2>	
	<div>In Our Energy Pack you can daily get 1-2 call which will be 85-90% accurate and highly beneficial for normal traders who don’t have much knowledge in the Commodity Market. In these calls we recommend Crude Oil and Natural Gas Tips. All the calls provided under this package will be accurate tips. No positional calls will be given. You can subscribe this package at very nominal cost. So if you are losing money in trading commodity markets so this is the best time and place for you to make money from the commodity markets.</div>
	<h4>Our Services Features -</h4>
	<ul>
	  <li> In this segment we cover Energy Crude Oil & Natural Gas.</li>
	  <li>We give 1-2 recommendation daily with the accuracy of 85-90 %.</li>
	  <li>There would be three targets & a stop loss that you have to follow.</li>
      <li>Medium of the calls would be SMS.v •Minimum Returns on investment depends on the commodity.</li>
      <li>Timely Entry & Exit Updates.</li>
    </ul>
</p>

<hr style="border-top: dotted 1px;" />
<p>
  <h2>Base Metal</h2>	
	<div>Stock Mirror provides absolute guidance to the investors how to trade in the Commodity market and provides solutions for a trading platform. All the tips given in the base metals will be Accurate above 95%. So if you are looking for best analysis in the commodity base metals tips so don't waste your time this is the best package for you.</div>
	<h4>Our Services Features -</h4>
	<ul>
	  <li> In this segment we cover Base Metals Copper, Nickel, Zinc, Lead, and Aluminum.</li>
	  <li>We give 2-3 recommendation daily with the accuracy of 85-90 %.</li>
	  <li>There would be three targets & a stop loss that you have to follow.</li>
      <li>Medium of the calls would be SMS.</li>
      <li>Minimum Returns on investment depends on the commodity.</li>
      <li>Timely Entry & Exit Updates.</li>
    </ul>
</p>

<hr style="border-top: dotted 1px;" />
<p>
  <h2>Agri</h2>	
	<div>Agri products are also traded in the commodity market. NCDEX came into existence along with MCX in 2003. The market has gain volatility and the calls are specially designed for the clients, who are big traders in this sector, there are products which have shown heavy movement since the market has come into existence.</div>
	<h4>Our Services Features -</h4>
	<ul>
	  <li> We give 1-2 recommendation daily with the accuracy of 85-90 %.</li>
	  <li>There would be three targets & a stop loss that you have to follow.</li>
	  <li>Medium of the calls would be SMS.</li>
      <li>Minimum Returns on investment depends on the commodity.</li>
      <li>Timely Entry & Exit Updates.</li>
    </ul>
</p>
</div>
</div>
<div class="content-right">
<div class="contact">
  <%= image_tag("stock-cash.png", size: "326x233", style: "margin-top: 31px;") %>
</div>
<div>
	<%= image_tag("friday1.jpg", size: "326x233", style: "margin-top: 33px;") %>
</div>
<div>
	<%= image_tag("mcx.gif", size: "326x233", style: "margin-top: 47px;") %>
</div>
<div>
	<%= image_tag("premium.jpeg", size: "326x233", style: "margin-top: 16px;") %>
</div>
<div>
	<%= image_tag("boolion.jpeg", size: "326x233", style: "margin-top: 244px;") %>
</div>		
<div>
	<%= image_tag("energy.jpeg", size: "326x233", style: "margin-top: 181px;") %>
</div>		
<div>
	<%= image_tag("base.jpeg", size: "326x233", style: "margin-top: 185px;") %>
</div>		
<div>
	<%= image_tag("agri.jpeg", size: "326x233", style: "margin-top: 100px;") %>
</div>		
</div>
</div>
